modules = ["go", "python-3.11"]
run = "go run server/main.go"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
run = ["sh", "-c", "go run server/main.go"]
ignorePorts = false
deploymentTarget = "gce"

[nix]
channel = "stable-23_05"

[languages]
[languages.go]
pattern = "**/*.go"

[languages.go.languageServer]
start = "gopls serve"

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 23295030
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run server/main.go"
